.box {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .response-label {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border: 1px,1px,1px,1px;
  }